*~
*.swp
.DS_Store
uuid.state

/coverage
/doc/coverage
/story_coverage
/public
/public_stub/storage

/config/*.yml

/db/schema.rb
/db/*.sqlite3

/doc/*doc

/log/*
/logs/*

/index
/public/storage

/spec

/tmp/*

/vendor/swat-dna/deploy_specific_config.php
/vendor/swat-dna/application/logs/

/nbproject
.loadpath
.project

